{% extends "base/base.html" %}
{% load static %}
{% block content %}

{% include "base/components/banner.html" %}

<div class="container mt-2">
    <div class="row">
        <div class="col-6">
            <img src="{% static 'img/bg-img/about.png' %}" width="500" height="500" alt="">
        </div>
        <div class="col-6 align-self-center">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ab ullam at nulla cumque eos fugit
                sed quisquam cupiditate praesentium eius enim culpa temporibus voluptatum quidem incidunt, inventore
                delectus suscipit?
                Cupiditate quisquam accusamus dicta totam, et alias odio eaque. Placeat hic in distinctio alias harum
                nam incidunt possimus quae dolorum, numquam eos necessitatibus expedita dolore fuga eligendi commodi qui
                consequuntur!
                Debitis, illo facilis explicabo quidem praesentium autem cupiditate ipsam neque saepe iste expedita
                dolorem laborum numquam rerum asperiores eum molestias doloribus optio dolorum, voluptatem, ipsa
                voluptate magnam totam itaque. Quo.
                Enim tempore necessitatibus rerum deserunt ipsum reprehenderit. Similique, consequatur dolorum. Porro
                maiores, facere ullam odit magnam, cupiditate consequuntur voluptatum excepturi magni corporis unde
                earum! Sint vitae non tempora voluptas cumque.
            </p>
        </div>
    </div>
</div>







{% endblock content %}