{% extends "base/base.html" %}
{% load static %}
{% block content %}

{% include "base/components/banner.html" %}

<div class="container mt-2">
    <div class="row">
        <div class="col-6">
            <img src="{% static 'img/bg-img/about.png' %}" width="500" height="500" alt="">
        </div>
        <div class="col-6 align-self-center">
            <span class="text-center font-weight-bold">SİTEMİZİN AMACI</span>
            <p>

       Her geçen gün insanların daha kolay bir şekilde alışveriş yapmasını sağlayan e ticaret sitelerinin ; ticaret ağında gün geçtikçe büyük bir ağa sahip olduğunu görebiliyoruz. Bazı durumlar da bu siteler müşterilere mükemmel sonuçlar vermiyor. Müşteri aldığı ürünleri kendisi üzerinde deneme fırsatı olmadığı için ürünler hakkında kararsız kalabiliyor ve ürünü aldıktan sonra kendisi için uygun ölçülerde olmadığı durumlarda iadesini gerçekleştirebiliyor.. Bunun için yapmış olacağımız SUİT UP sitemiz sayesinde müşteri almış olduğu kıyafet ,ayakkabı vb.. ürünleri kendi ölçülerine uygun giyinme kabini üzerinden test ederek almış olacak. Bu sayede müşteri açısından alacağı ürünün içine sinmesi, ürünü satan kişininde geri iade sıkıntısını bir nebze de olsa çözmüş olacak.
            </p>
        </div>
    </div>
</div>







{% endblock content %}